.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    /* text-align: left; */
    justify-content: space-around;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: indigo;
    text-decoration: underline;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-expense__actions {
    text-align: right;
    transition: transform 0.2s;
    display: inline-block;
  }

  .new-expense__actions:hover{
    transform: translateY(-.3rem);
  }

  .new-expense__actions:active{
    transform: translateY(.001rem);
  }